<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/pub/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/pub/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" href="/pub/css/AdminLTE.min.css" />
    <link rel="stylesheet" type="text/css" href="/pub/css/_all-skins.min.css" />
    <link rel="stylesheet" type="text/css" href="/pub/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/pub/css/dropzone.css" />
    <script  src="/pub/js/dropzone.js"></script>
</head>

<body class="skin-blue ">
<div class="wrapper">
    <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">我的博客</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

        </nav>
    </header>

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview menu-open">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>博客管理</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/list/publish"><i class="fa fa-circle-o"></i> 文章发布</a>
                        </li>
                        <li class="active">
                            <a href="/list/index

"><i class="fa fa-circle-o"></i> 文章列表</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>文章评论</span>
                        <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
								</span>
                    </a>
                </li>

        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        {% block content %} {% endblock %}
    </div>

    <script  src="/pub/js/jquery.min.js" ></script>
    <script  src="/pub/js/bootstrap.min.js" ></script>
    <script  src="/pub/js/bootstrap-datepicker.min.js"></script>
    <script  src="/pub/js/bootstrap-datepicker.zh-CN.min.js"></script>
    <script  src="/pub/js/adminlte.min.js" ></script>
</body>

</html>