{% extends 'layout.html' %}
{% block content %}
<!--<section class="content-header">-->
    <!--文章列表-->
<!--</section>-->
<section class="content">
    <div class="box" id="list">
        <div class="box-header">文章列表</div>
        <div class="box-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>文章标题</th>
                    <th>作者</th>
                    <th>文章简介</th>
                    <th>发布时间</th>

                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in listD %}
                <tr>
                    <!--<td colspan="6">-->
                        <!--正在奋力加载……-->
                    <!--</td>-->
                    <td>{{item._id.toString()}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.intro}}</td>
                    <td>{{item.time}}</td>

                    <td data-id="{{item._id.toString()}}">
                        <a href="/list/edit?id={{item._id.toString()}}">
                        <button class="btn btn-primary btn-xs">
                            编辑
                        </button>
                        </a>
                        <button class="btn btn-danger btn-xs">删除</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer text-center">
            <!--分页-->
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#"><<</a>
                </li>
                {% for i in pageArr %}
                    <li class="page">
                        <a href="javascript:;">{{i}}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="#">>></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<script>
    window.onload=function(){
        $('table').on('click','.btn-danger',function(){
            var id=$(this).closest('td').attr('data-id');
            var oTr=$(this).closest('tr');
            $.ajax({
                url:'/list/del?id='+id,
                type:'get',
                success:function(result){
                    oTr.remove();
                    alert(result);
                },
                error:function(err){
                    alert(err);
                }
            })
        })

        $('.page a').click(function(){
            var data=$(this).html();
            $.ajax({
                url:'/list/index/page?num='+data,
                type:'get',
                success:function(result){
                   var len=result.length;
                   var str='';
                   for(var i=0;i<len;i++){
                       str+=`<tr>
                                <td>${result[i]._id.toString()}</td>
                                <td>${result[i].title}</td>
                                <td>${result[i].author}</td>
                                <td>${result[i].intro}</td>
                                <td>${result[i].time}</td>

                                <td data-id="${result[i]._id.toString()}">
                                    <a href="/list/edit?id=${result[i]._id.toString()}">
                                    <button class="btn btn-primary btn-xs">
                                        编辑
                                    </button>
                                    </a>
                                    <button class="btn btn-danger btn-xs">删除</button>
                                </td>
                            </tr>`
                   }
                   $('tbody').html(str);
                }
            })
        })
    }
</script>
{% endblock %}